/*~~~~~~~~~~~~~INDEX~~~~~~~~~~~~~~~~~~~~~~~~*/
.navigation {
  background-color: #445E66;
  box-shadow: 1px 1px 5px #000;
}

#index_container {
  margin-top: 130px;
  text-align: center;
  font-family: 'Arimo', sans-serif;
}

#welcome {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#bookshelf {
  font-size: 60px;
}

#tagline {
  margin-top: 20px;
  font-size: 40px;
}
#navigation {
  margin-top: 10px;
}

ul > li {
  font-size: 16px;
  list-style-type: none;
  display: inline-block;
  text-align: right;
  padding: 10px;
}

#register, #login {
  padding-top: 10px;
  margin-right: 300px;
  margin-left: 300px;
  text-align: center;
}

footer {
  margin-top: 150px;
  text-align: center;
  letter-spacing: 1px;
}

#heart {
  font-size: 20px;
  color: red;
   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*~~~~~~~~~~~~~~~~ACCOUNT~~~~~~~~~~~~~~~~~~~~~*/

.user_container {
  margin-left: 20px;
}

#logout a:link, a:visited {
  margin-left: 20px;
}

.panel, .panel-info {
  text-align: center;
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
}

.currently_reading, .completed, .collection {
  line-height: 20px;
  text-align: center;
  margin-top: 5px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

#search_books {
  margin-right: 20px;
  margin-top: -45px;
  float: right;
}

.book_searched_results {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

#search_books_account {
  margin-right: 20px;
  margin-top: -15px;
  float: right;
}

.title {
  font-weight: bold;
}

/*~~~~~~ALL REVIEWS~~~~~~~~~~*/

.reviews {
  text-align: center;
}

.make-review {
  margin-top: 30px;
  text-align: center;
}

.review-input {
  min-width: 500px;
  min-height:300px;
}

.review-table {
  text-align: center;
}

.review-container {
  margin: 20px 20px 0 20px;
  overflow: auto;
}

.book-image {
  float: left;
  margin-bottom: 20px;
}

.book-image img {
  display: block;
}

.review-book-info {
  float: right;
}