<header>
  <span id="logout"><a href="/logout">logout</a></span>
  <span><a href="/books">view all books</a></span>
  <!-- search for books -->
  <!-- search for users-->
</header>

<div class="user_container">
  <div class="page-header">
    <% if current_user %>
  <h2>Welcome <%= current_user.name %></h2>
<% end %>
  </div>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active">
      <a href="/account">Profile</a>
    </li>
    <li role="presentation">
      <a href="/account/currently_reading">Currently Reading</a>
    </li>
    <li role="presentation">
      <a href="/account/completed">Completed</a>
    </li>
    <li role="presentation">
      <a href="/account/reviews">Reviews</a>
    </li>
  </ul>

<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">
      <%= current_user.name.split[0] %>'s feed
    </div>
    <div class="panel-body">
      <ul>
        <li>Followers: <%= %></li>
        <li>Followings: <%= %></li>
      </ul>
    </div>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">
      friend feed
    </div>
    <div class="panel-body">
       <!-- following feed -->
    </div>
  </div>
</div>
</div>

</div>





