<a href="/logout">logout</a>

<div class="user_container">
<% if current_user %>
  <h2>Welcome <%= current_user.name %></h2>
<% end %>
</div>


<!-- currently reading -->
<!-- completed books -->
<!-- search for books -->
<!-- search for users-->
<!-- followers -->
<!-- following -->
<!-- following feed -->
