<% if !(current_user == nil) %>
<header>
  <nav>
    <ul>
      <li><a href="/logout">logout</a></li>
      <li><a href="/books/reviews">latest book reviews</a></li>
    </ul>
  </nav>
</header>

<div id="search_books">
  <form action="/books/search" method="get">
  <input type="text" name="searched_item" placeholder="Search for a book">
  <button type="submit" class="btn btn-sm btn-warning">Search</button>
  </form>
</div>


<div class="user_container">
  <div class="page-header">
    <% if current_user %>
  <h2>Welcome <%= current_user.name %></h2>
<% end %>
  </div>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active">
      <a href="/account">Profile</a>
    </li>
    <li role="presentation">
      <a href="/account/currently_reading">Currently Reading</a>
    </li>
    <li role="presentation">
      <a href="/account/collection">Collection</a>
    </li>
    <li role="presentation">
      <a href="/account/completed">Completed</a>
    </li>
    <li role="presentation">
      <a href="/account/reviews">Reviews</a>
    </li>
  </ul>

<!-- <div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">

    </div>
    <div class="panel-body">
      <ul>
        <li>Followers: </li>
        <li>Followings: </li>
      </ul>
    </div>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">
      friend feed
    </div>
    <div class="panel-body">
       <!-- following feed -->
    <!-- </div>
  </div>
</div>
</div>  -->

</div>
<% end %>



