<header>
  <nav>
    <ul>
      <li><a href="/logout">logout</a></li>
      <li><a href="/books/reviews">latest book reviews</a></li>
    </ul>
  </nav>
</header>
<div id="search_books">
  <form action="/books/search" method="get">
  <input type="text" name="searched_item" placeholder="Search for a book">
  <button type="submit" class="btn btn-sm btn-warning">Search</button>
  </form>
</div>

<div class="user_container">
  <div class="page-header">
    <% if current_user %>
  <h2>Welcome <%= current_user.name %></h2>
<% end %>
  </div>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation">
      <a href="/account">Profile</a>
    </li>
    <li role="presentation">
      <a href="/account/currently_reading">Currently Reading</a>
    </li>
    <li role="presentation">
      <a href="/account/collection">Collection</a>
    </li>
    <li role="presentation" class="active">
      <a href="/account/completed">Completed</a>
    </li>
    <li role="presentation">
      <a href="/account/reviews">Reviews</a>
    </li>
  </ul>
  <div>

  <div class="completed">
    <% @books.each do |book| %>
    <img width="200" height="300" src="<%= book.book.book_cover %>">
    <span class="completed-books">
    <br><%= book.book.title %><br>
    <%= book.book.author %><br>
    <% end %>
    </span>
  </div>







