<header>
  <span id="logout"><a href="/logout">logout</a></span>
  <span><a href="/books">view all books</a></span>
  <!-- search for books -->
  <!-- search for users-->
</header>

<div class="user_container">
  <div class="page-header">
    <% if current_user %>
  <h2>Welcome <%= current_user.name %></h2>
<% end %>
  </div>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active">
      <a href="/account">Profile</a>
    </li>
    <li role="presentation">
      <a href="/account/currently_reading">Currently Reading</a>
    </li>
    <li role="presentation">
      <a href="#">Completed</a>
    </li>
    <li role="presentation">
      <a href="#">Reviews</a>
    </li>
  </ul>

<div>
  <div class="completed">
    <% current_user.book_ownerships.each do |books| %>
    <% if books.completed == true %>
    <img width="200" height="300" src="http://livethroughbooks.files.wordpress.com/2010/04/wuthering-heights.jpg">
    <% current_user.books.each do |book| %>
      <br><%= book.title %><br>
      <%= book.author %> <br>
      Current Page: <%= current_user.book_ownerships.first.current_page %> <br>
      <% end %>
      <% end %>
      <% end %>
  </div>

</div>





