<header>
  <span id="logout"><a href="/logout">logout</a></span>
  <span><a href="/books">view all books</a></span>
  <!-- search for books -->
  <!-- search for users-->
</header>

<div class="user_container">
  <div class="page-header">
    <% if current_user %>
  <h2>Welcome <%= current_user.name %></h2>
<% end %>
  </div>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation">
      <a href="/account">Profile</a>
    </li>
    <li role="presentation">
      <a href="/account/currently_reading">Currently Reading</a>
    </li>
    <li role="presentation" class="active">
      <a href="/account/completed">Completed</a>
    </li>
    <li role="presentation">
      <a href="/account/reviews">Reviews</a>
    </li>
  </ul>

<div>
  <div class="completed">
    <% @books.each do |book| %>
    <img width="200" height="300" src="http://www.beyondhollywood.com/uploads/2012/02/Paradise-Lost-Book-Cover-e1328817248834.jpg">
    <br><%= book.book.title %> <br>
    <%= book.book.author %><br>
    <% end %>
  </div>

</div>





