<div class="navigation" >
<header>
  <nav>
    <ul>
      <li><a href="/login">sign in</a></li>
      <li><a href="/signup">register</a></li>
      <li><a href="/books/reviews">view latest book reviews</a></li>
    </ul>
  </nav>
  <div id="search_books">
  <form action="/books/search" method="get">
    <input type="text" name="searched_item" placeholder="Search for a book">
    <input type="submit" value="Search!">
  </form>
  </div>
</header>
</div>


<div id="index_container">
  <h2 id="welcome">welcome to</h2>
  <span id="bookshelf">bookshelf <img src="/images/bookshelf.png"/></span>
  <p id="tagline">keep track of the books you love.</p>
</div>