<form action="/account/reviews/books/<%= @books.book_id %>/review" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="book_review" />
  </br>
  <input type="submit" value="Make a review!"/>
  </form>